@import "../helpers/mixins";
@import "../helpers/variables";

#form-section {
  position: absolute;
  width: 80%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  z-index: 500;

  #form-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  form {
    @extend %centered;
    position: absolute;
    gap: 0;
    width: 80%;
    height: 40px;

    > * {
      outline: none;
      border: none;
      box-shadow: none;
    }

    #placeholder {
      position: absolute;
      height: 20px;
      z-index: 50;
      padding: 0 5px;
      transition: 0.3s;
      left: 6%;
      top: 50%;
      transform: translateY(-50%);
      color: var(--main);
    }
    input {
      height: 100%;
      padding-left: 10px;
      letter-spacing: 0.8px;
      width: 80%;
      transition: 0.3s;
      background-color: var(--secondary);
      color: var(--main);
      &.valid {
        border-bottom: 3px solid rgb(38, 131, 38);
      }
      &.invalid {
        border-bottom: 3px solid rgb(170, 46, 46);
      }

      &:focus ~ #placeholder,
      &:valid ~ #placeholder {
        // top: -10px;
        // transform: translateY(0);
        //or
        top: 0;
        border-radius: 2px;
        background: var(--form-clr);
        border: {
          left: 3px solid darkblue;
          right: 3px solid darkblue;
        }
      }
    }

    button#btn {
      @extend %centered;
      background: var(--form-clr);
      color: var(--main);
      transition: 0.3s;
      gap: 5px;
      height: 100%;
      width: 100px;
      &:hover {
        color: var(--secondary);
      }
    }
  }
  .createIcon {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: var(--form-clr);
      animation: to-right 2s linear forwards;
    }
  }

  .updateIcon {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background: var(--form-clr);
      animation: to-right 1s linear forwards;
    }
    @keyframes to-right {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(50px);
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50%;
      width: 100%;
      background: var(--form-clr);
      animation: to-left 1s linear forwards 1s;
    }
    @keyframes to-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50px);
      }
    }
  }
}
